.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logoContainer {
  height: 80px;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

.logo {
  flex-direction: row;
}

.iconClass {
  transform: rotateX(180deg);
}